<meniu-directive></meniu-directive>
<div class="row">
	<div class="col-md-4">
		<h3>Adaugare specializare</h3>
			<form>
				<div class="form-group">
					<label>Nume specializare</label>
					<input type="text" ng-model="vm.category.name" class="form-control" placeholder="">
				</div>
				<button type="submit" class="btn btn-default" ng-click="vm.addCategory()">Adauga</button>
			</form>
	</div>
	<div class="col-md-4">
		<h3>Adaugare judet</h3>
			<form>
				<div class="form-group">
					<label>Nume judet</label>
					<input type="text" ng-model="vm.category.name" class="form-control" placeholder="">
				</div>
				<button type="submit" class="btn btn-default" ng-click="vm.addCategory()">Adauga</button>
			</form>
	</div>
	<div class="col-md-4">
		<h3>Adaugare localitate</h3>
			<form>
				<div class="form-group">
					<label>Nume localitate</label>
					<input type="text" ng-model="vm.category.name" class="form-control" placeholder="">
				</div>
				<button type="submit" class="btn btn-default" ng-click="vm.addCategory()">Adauga</button>
			</form>
	</div>
</div>

<div class="row">
	<h2 class="col-md-12">Specializari</h2>
	<div class="col-md-4">
		<div ng-repeat="specialization in specializations " class="specialization">
			<div class="col-md-6 title-name">{{specialization.name}}</div>
			<div class="col-md-3">
				<button class="btn btn-default">Modifica</button>
			</div>
			<div class="col-md-3">
				<button class="btn btn-danger" ng-click="removeSpecialization(specialization.id)">Sterge</button>
			</div>
		</div>
	</div>
</div>