<meniu-directive></meniu-directive>
<div class="header-container bottom-order">
	<div class="row">
		<h1 class="col-md-12 text-center">
			Meriti tot ce e mai bun
		</h1>
	</div>
	<div class="row">
		<button ng-click="navigateTo('login')" 
						class="col-md-offset-5 col-md-2 margin-bottom-30 btn btn-default text-center">
						Inregistrare
		</button>
	</div>
</div>
<div class="despre-container bottom-order">
	<div class="row">
		<h1 class="text-center margin-bottom-50">Despre</h1>
		<div class="text-center margin-bottom-50">
			<p>Cu ajutorul nostru vei primi cele mai bune recomandari ale medicilor de care ai nevoie</p>
			<p>Poti cere sfatul unui medic, rapid, cu o simpla intrebare!</p>
		</div>
		<div>
			<div class="col-md-3">
				<div class="row">
					<div class="col-md-offset-3 col-md-5 rounded-container rounded-container-small">
						<span class="glyphicon glyphicon-edit custom-glyphicon" aria-hidden="true"></span>
					</div>
				</div>
				<h3 class="row text-center">Exprimă-ți părerea!</h3>
				<div class="row text-center">
					<div class="col-md-8 col-md-offset-2">
						Ai posibilitatea să evaluezi experiența avută cu un medic
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="row">
					<div class="col-md-5 col-md-offset-3 rounded-container rounded-container-small">
						<span class="glyphicon glyphicon-thumbs-up custom-glyphicon" aria-hidden="true"></span>
					</div>
				</div>
				<h3 class="row text-center">Cere un sfat!</h3>
				<div class="row text-center">
					<div class="col-md-8 col-md-offset-2">
						Dacă ai o nelămurire, adresează o întrebare imediat și vei putea primi un răspuns care să-ți fie de folos
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="row">
					<div class="col-md-5 col-md-offset-3 rounded-container rounded-container-small">
						<span class="glyphicon glyphicon-flash custom-glyphicon" aria-hidden="true"></span>
					</div>
				</div>
				<h3 class="row text-center">Rapid și eficient! </h3>
				<div class="row text-center">
					<div class="col-md-8 col-md-offset-2">
						Caută medicul de care ai nevoie și vei primi cea mai bună recomandare în cel mai scurt timp
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="row">
					<div class="col-md-offset-3 col-md-5 rounded-container rounded-container-small">
						<span class="glyphicon glyphicon-bullhorn custom-glyphicon" aria-hidden="true"></span>
					</div>
				</div>
				<h3 class="row text-center">Ajută sistemul medical! </h3>
				<div class="row text-center">
					<div class="col-md-8 col-md-offset-2">
						Poți ajuta sistemul medical și medicii care merită cu adevărat să fie promovați !
					</div>
				</div>
			</div>			
		</div>
	</div>
</div>

<div class="servicii-utile-container bottom-order">
	<div class="row">
		<h1 class="text-center margin-bottom-70">Servicii utile</h1>
		<div class="col-md-offset-4 col-md-2 margin-bottom-70">
			<div class="col-md-12 rounded-container" ng-click="gotoAnchor('cauta-medic')">
				<span class="glyphicon glyphicon-search custom-glyphicon" aria-hidden="true"></span>
			</div>
			<h3 class="col-md-12 text-center">Cauta medic</h3>
			<div class="col-md-12 text-center">
				Descrire mai lungaflhas hskjfhs hh fskj hfssdfhjlk jh
			</div>
		</div>
		<div class="col-md-2">
			<div class="col-md-12 rounded-container" ng-click="gotoAnchor('cere-sfat')">
				<span class="glyphicon glyphicon-thumbs-up custom-glyphicon" aria-hidden="true"></span>
			</div>
			<h3 class="col-md-12 text-center">Cere un sfat</h3>
			<div class="col-md-12 text-center">
				Descrire mai lungaflhas hskjfhs hh fskj hfssdfhjlk jh
			</div>
		</div>
	</div>
</div>

<div id="cauta-medic" class="cauta-container bottom-order">
	<div class="row">
		<h1 class="text-center">Cauta medic</h1>
		<form>
			<div class="row">
				<div class="form-group col-md-4">
					<label class="col-md-5 no-padding">Nume</label>
					<input class="col-md-7 form-control" type="text" ng-model="medic.firstName">
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-4">
					<label class="col-md-5 no-padding">Prenume</label>
					<input class="col-md-7 form-control" type="text" ng-model="medic.lastName">
				</div>
			</div>			
			<div class="row">
				<div class="form-group  col-md-4">
					<label class="col-md-5 no-padding">Specializare</label>
				  <select class="col-md-7 form-control" ng-model="medic.specialization" ng-options="specialization.name for specialization in specializations">
			      <option value="">Alege specializarea</option>
			    </select>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-4">
					<label class="col-md-5 no-padding">Judet</label>
									  <select class="col-md-7 form-control"ng-model="medic.judet" ng-options="judet.name for judet in judete">
			      <option value="">Alege judetul</option>
			    </select>
				</div>	
			</div>
			<div class="row">
				<div class="form-group col-md-4">
					<label class="col-md-5 no-padding">Localitati</label>
									  <select class="col-md-7 form-control" ng-model="medic.location" ng-options="location.name for location in locations">
			      <option value="">Alege localitatea</option>
			    </select>
				</div>	
			</div>
			<div class="row">
				<div class="form-group col-md-4">
					<button ng-click="findMedic()" class="col-md-5 btn btn-default pull-right">Cauta</button>
				</div>
			</div>
		</form>
	</div>
</div>

<div id="cere-sfat" class="sfat-container bottom-order">
	<div class="row">
		<h1 class="text-center">Cere un sfat</h1>
			<form>
			<div class="row">
				<div class="form-group col-md-6">
					<label class="col-md-12 no-padding">Adreseaza o intrebare</label>
					<textarea ng-model="question.body" cols="40" rows="5">
					</textarea>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-3">
					<button ng-click="addQuestion()" class="col-md-5 btn btn-default">Intreaba</button>
				</div>
			</div>
		</form>
	</div>
</div>