<h1>Logare</h1>

<div class="row margin-top-20" >
	<div class="col-md-3">
		<form>
			<div class="form-group">
				<label>Email address</label>
				<input type="email" ng-model="vm.user.email" class="form-control" placeholder="Email">
			</div>
			<div class="form-group">
				<label>Password</label>
				<input type="password" ng-model="vm.user.password" class="form-control" placeholder="Password">
			</div>
			<button type="submit" class="btn btn-default" ng-click="vm.login()">Conecteaza-te</button>
		</form>
	</div>
</div>

<h1>Inregistrare</h1>
<div class="row margin-top-20" >
	<div class="col-md-3">
		<form>
      <div class="form-group">
        <label>Nume</label>
        <input type="email" ng-model="vm.user.firstName" class="form-control"placeholder="Email">
      </div>
      <div class="form-group">
        <label>Prenume</label>
        <input type="email" ng-model="vm.user.lastName" class="form-control"placeholder="Email">
      </div>
			<div class="form-group">
				<label for="exampleInputEmail1">Email address</label>
				<input type="email" ng-model="vm.user.email" class="form-control" id="exampleInputEmail1" placeholder="Email">
			</div>
			<div class="form-group">
				<label for="exampleInputPassword1">Password</label>
				<input type="password" ng-model="vm.user.password" class="form-control" id="exampleInputPassword1" placeholder="Password">
			</div>
			<button type="submit" class="btn btn-default" ng-click="vm.register()">Inregistrare</button>
		</form>
	</div>
</div>
