<meniu-directive></meniu-directive>

<div class="row">
	<div class="row">
		<div class="col-md-8">
			<label class="col-md-2">
				Medic:
			</label>
			<label class="col-md-3">
			 	Pop Ioan
			</label>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<label class="col-md-2">
				Specializare:
			</label>
			<label class="col-md-3">
			 	Sportiva
			</label>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<label class="col-md-2">
				Judet:
			</label>
			<label class="col-md-3">
			 	Maramures
			</label>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<label class="col-md-2">
				Localitate:
			</label>
			<label class="col-md-3">
			 	Sighetu Marmatiei
			</label>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<label class="col-md-2">
				Rating:
			</label>
			<label class="col-md-5">
				<jk-rating-stars 
					max-rating="5" 
					rating="1" 
					read-only="true"
				 	on-rating="onRating(rating)" >
				</jk-rating-stars>
			</label>
		</div>
	</div>
	<!-- Rating field -->
	<div class="row">
		<div class="col-md-8">
			<label class="col-md-2">
				Comunicare:
			</label>
			<label class="col-md-2">
			 	Nota
			  <input type="number" min="1" max="5">
			</label>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<label class="col-md-2">
				Pregatire:
			</label>
			<label class="col-md-2">
			 	Nota
			  <input type="number" min="1" max="5">
			</label>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<label class="col-md-2">
				Atitudine:
			</label>
			<label class="col-md-2">
			 	Nota
			  <input type="number" min="1" max="5">
			</label>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<label class="col-md-2">
				Dotare:
			</label>
			<label class="col-md-2">
			 	Nota
			  <input type="number" min="1" max="5">
			</label>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<label class="col-md-2">
				Disponibilitate:
			</label>
			<label class="col-md-2">
			 	Nota
			  <input type="number" min="1" max="5">
			</label>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<label class="col-md-2">
				Punctaj final:
			</label>
			<label class="col-md-2">
			 	Nota
			  <input type="number" min="1" max="5">
			</label>
		</div>
	</div>
</div>