<meniu-directive></meniu-directive>

<div class="row single-medic" ng-repeat="medic in medici">
	<div class="col-md-4">
		
		<div class="row">
			<div class="col-md-12">
				<label class="col-md-5">
					Medic:
				</label>
				<label class="col-md-7">
				 	{{medic.firstName}} {{medic.lastName}}
				</label>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<label class="col-md-5">
					Specializare:
				</label>
				<label class="col-md-7">
				 	{{medic.specialization.name}}
				</label>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<label class="col-md-5">
					Judet:
				</label>
				<label class="col-md-7">
				 	{{medic.judet.name}}
				</label>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<label class="col-md-5">
					Localitate:
				</label>
				<label class="col-md-7">
				 	{{medic.location.name}}
				</label>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<label class="col-md-5">
					Rating:
				</label>
				<label class="col-md-7">
					<jk-rating-stars 
						max-rating="5" 
						rating="medic.rating" 
						read-only="true"
					 	on-rating="onRating(rating)" >
					</jk-rating-stars>
				</label>
			</div>
		</div>
	</div>
	<div  ng-show="user"  class="col-md-8">
		
	<!-- Rating field -->
		<div class="col-md-6">
			<div class="medic-grades">
				<div class="row">
					<div class="col-md-12">
						<label class="col-md-6">
							Comunicare:
						</label>
						<label class="col-md-6">
						 	Nota
						  <input type="number" ng-model="nota[medic._id].comunicare" class="form-control" min="1" max="5">
						</label>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<label class="col-md-6">
							Pregatire:
						</label>
						<label class="col-md-6">
						 	Nota
						  <input type="number" ng-model="nota[medic._id].pregatire" class="form-control" min="1" max="5">
						</label>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<label class="col-md-6">
							Atitudine:
						</label>
						<label class="col-md-6">
						 	Nota
						  <input type="number" ng-model="nota[medic._id].atitudine" class="form-control" min="1" max="5">
						</label>
					</div>
				</div>
			</div>
		</div>
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-12">
				<label class="col-md-6">
					Dotare:
				</label>
				<label class="col-md-6">
				 	Nota
				  <input type="number" ng-model="nota[medic._id].dotare" class="form-control" min="1" max="5">
				</label>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<label class="col-md-6">
					Disponibilitate:
				</label>
				<label class="col-md-6">
				 	Nota
				  <input type="number" ng-model="nota[medic._id].disponibilitate" class="form-control" min="1" max="5">
				</label>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">

				<label class="col-md-6">
					<button ng-click="updateMedic(medic._id)" class="btn btn-default">Da nota</button>
				</label>
			</div>
		</div>
	</div>

	</div>

	</div>
</div>