body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans';
  background-color: #f3f3f4
}

h1, h2, h3 {
	font-family: 'Open Sans';
}

.no-padding {
	padding: 0
}

.answer {
  font-size: 16px;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px
}

.single-medic {
	border-bottom: 2px solid grey;
  padding-bottom: 20px;
  padding-top: 20p;
  margin-bottom: 20px;
}

.title-name {
	font-size: 20px;
}

.margin-top-30 {
	margin-top: 30px;
}

.margin-top-20 {
	margin-top: 20px;
}

.margin-bottom-30 {
	margin-bottom: 30px;
}

.margin-bottom-20 {
	margin-bottom: 20px;
}

.margin-bottom-50 {
	margin-bottom: 50px;
}

.margin-bottom-70 {
	margin-bottom: 70px;
}

.bottom-order {
	border-bottom: 1px solid grey;
	padding-bottom: 10px;
}

.rounded-container {
	height: 150px;
	border: 1px solid #dc7269;
	border-radius: 50%;
	color: #dc7269;
	cursor: pointer;
}

.rounded-container {
	height: 100px;
}
.rounded-container:hover {
	background: #dc7269;
	color: white;
}

.custom-glyphicon {
	font-size: 30px;
  position: relative;
  left: 41%;
  top: 33%;
}

.cursor-pointer {
	cursor: pointer;
}

.header-container {
	background-image: url('../images/header-img.png');
	padding-bottom: 50px;
	width: 100%;
	background-size: cover;
	color: white;
}
.header-container h1 {
	margin-top: 190px;
	margin-bottom: 40px;
}

.despre-container {
	background-image: url('../images/backgroundazul.png');
	height: 700px;
	width: 100%;
	background-size: cover;
	color: #999999;
}

.despre-container h1 {
	margin-top: 120px;
}
.despre-container p {
	font-size: 25px;
}

.servicii-utile-container div {
	color: #999999
}

.servicii-utile-container h3 {
	color: #dc7269;
}

#cauta-medic {
	background-image: url('../images/backgroundazul.png');
	padding-bottom: 50px;
	width: 100%;
	background-size: cover;
}

#cauta-medic form {
	margin-left: 20px;
}

#cauta-medic h1 {
	color: #999999;
}

#cere-sfat {
	background-image: url('../images/backgroundazul.png');
	padding-bottom: 50px;
	width: 100%;
	background-size: cover;
}

#cere-sfat h1 {
	color: #999999;
	margin-bottom: 50px;
}

#cere-sfat form {
	margin-left: 35px;
}